
models/**/*.pkl

datasets
datasets/
__pycache__/
**/__pycache__/
venv/
test.json
test.png
test-cloudrun/result*.jpg
test-cloudrun/test*.jpg

gcf-function/detectron2/
gcf-function/torch/
gcf-function/torchvision/
gcf-function/model/

cloud-run-function/recognizer.py
cloud-run-function/models/
